.home-background {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url("../../images/home/bg.png") no-repeat center;
	background-size: cover;

	.logo {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 80%;

		&.details {
			top: 10%;
			transform: translate(-50%, -10%);
			transition: all 1s ease-in-out 0s;
		}
	}

	.container-details {
		position: absolute;
		top: 10%;
		left: 50%;
		transform: translate(-50%, -10%);
		width: 80vw;
		opacity: 0;
		transition-delay: 0.2s;
		@media only screen and (min-width: 576px) {
			top: 50%;
			transform: translate(-50%, -50%);
		}

		.details-rules {
			max-width: 100%;
			padding: 10px;
			border-radius: 30px;
			background: linear-gradient(to bottom, #fefdff, #bc40e0);

			.rules-text {
				background: #222;
				border-radius: 25px;
				color: white;
				padding: 1rem;
				@media only screen and (min-width: 576px) {
					padding: 2rem;
					font-size: 20px;
				}
			}
		}

		.details-id {
			.container-input {
				max-width: 100%;
				padding: 10px;
				border-radius: 12px;
				background: linear-gradient(to bottom, #fefdff, #bc40e0);

				& input {
					width: 100%;
					background: #222;
					border: none;
					color: white;
					padding: 0.8rem;
				}
			}
		}

		.button-next {
			max-width: 50%;
			@media only screen and (min-width: 576px) {
				max-width: 100%;
			}
		}

		&.details {
			opacity: 1;
			transition-duration: 2s;
			transition-property: opacity;
		}
	}

	.start {
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -70%);
		max-width: 50%;
		opacity: 1;
		display: block;

		&.details {
			opacity: 0;
			display: none;
			transition: opacity 1s ease-out;
		}
	}
}
